.first  {
list-style: none;
padding: 0;
}
.first li {
padding: 10px 10px;
background: #ffe88a;
border-bottom: 1px solid grey;
color: #000000;
font-size: 32px;
box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
margin-bottom: 5px;
}
li p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
    padding: 0;
}
.first li:last-child {border-bottom: none;}
.first:before{
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;
}

