<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}" />
    <title>Яндекс игры 2.0</title>
    {% block head %}
    {% endblock %}
</head>
<body>

    <header>
        <div class = "title"><a href = "/" style="text-decoration: none;color:inherit">Яндекс Игры 2.0</a></div>
        <ul class = "menu">
        <li><a href = "#">Контакты</a></li>
        <li><a href = "#">О нас</a></li>
        <li><a href = "#">Услуги</a></li>
        </ul>
        {% if current_user.is_authenticated %}
            <p class="login"><a href="/user">{{ current_user.username }}</a><br>
                             <a href="/logout">выйти</a></p>
        {% else %}
            <p class="login"><a href="/login">войти</a><br>
                             <a href="/register">зарегестрироваться</a></p>
        {% endif %}
    </header>
    <h3>{{message}}</h3>
    {% block body %}{% endblock %}
</body>
</html>