{% extends "base.html" %}


{% block body %}
<div style='padding: 10px; background-color: #ffe88a; border-radius: 25px'>
	<h1 style="text-transform: capitalize">{{game.name}}</h1>
	<div style='display: table-cell'>
		<img src='{{game.image}}' style='float: left;-ms-interpolation-mode: bicubic;'>
		<p style='font-size: 28px; margin: 5px'>{{game.description}}</p>
	</div>
	<br>
	<p  onclick="location.href='/games/add_game/{{game.id}}/game'" style="font-size:32px">{{game.cost}} р.<i class="fa fa-shopping-cart"></i></p>
</div>
{% endblock %}