{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main_page.css')}}" />

{% endblock %}


{% block body %}
    <ul class="first" aria-label="Игры">
    {% for game in games %}
        <li onclick="location.href='/games/{{game.id}}';">
		  <img src="{{game.image}}" height='75' style="vertical-align: middle;border: 3px solid black;float: left;margin-right: 5px">
		  <p style="text-transform: capitalize">  {{ game.name  }}</p>
		  <p>  {{ game.rating  }}</p>
		</li>
    {% endfor %}
    </ul>
{% endblock %}